<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">

        <div class="col-sm-8">





        </div>

        <div class="col-sm-12">

            <div class="panel panel-default panel-front">

                <div class="panel-heading">

                    <h4 class="panel-title"><a HREF="#"><img src="https://i.imgur.com/UuosGKL.jpg"></a></h4>

                </div>

                <div class="panel-body">

                    <h4>Pulp Fiction</h4>

                    Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year.

                <div class="text-right">
                    <a routerLink="/quiz" class="btn btn-info btn-sm" role="button">Take Quiz</a>
                </div>

                </div>
            </div>

        </div>

        <div class="col-sm-4">


        </div>

    </div>

</div>
