<div class="container-fluid">
  <div class="row">

  </div>

  <div align=center class="card" >
    <font size="5">
      <br>

    <div  align=center class="btn-group btn-group-vertical" *ngIf="quizInProgress">

      <div class="fa fa-circle-o fa-x"><span>{{activeQuestion.question}}</span></div><br>
      
      <h6 class="card-subtitle mb-2 text-muted">Select the answer below</h6><br>
      <div *ngFor="let option of activeQuestion.options">
        <div class="card-title">
          
        <p class="collection answer" ><input type="radio" name="option">   <span class="fa fa-circle-o fa-x" >{{option}}.</span> </p>
          </div>
      </div>
      <br>
      <button type="button" (click)="nextQuestion()" class="btn btn-primary" *ngIf="hasNext()">Next</button>
      <button type="button" (click)="finish()" *ngIf="isLast()" class="btn btn-success">Finish</button>

    </div>
  </font>
    <div class="card-body" *ngIf="!quizInProgress">
      <p>Thank You</p>
    </div>
  </div>
</div>
