<div class="card">
  <img src="assets/images.jpg" alt="Avatar" style="width:100%">
  <div class="container">
  </div>
</div>
<br>
<br>
<div class="container">
 <div class="row">
	 <div class="col-sm-4 col-md-4">
	<div class="card"  style="max-width: 60%; max-height: 80%;">
	  <img align=center class="card-img-top" style="max-width: 40%; max-height: 40%;" src="assets/co.png" alt="Card image cap">
	  <div class="card-body">
	    <p class="card-text" translate>Address</p>
	  </div>
	</div>
	</div>
	<div class="col-sm-4 col-md-4">
	<div  style="max-width: 60%; max-height: 80%;">
	  <img align=center class="card-img-top" style="max-width: 40%; max-height: 40%;" src="assets/ph.png" alt="Card image cap">
	  <div class="card-body">
	    <p class="card-text" translate> toll free number 1800-11-6446 (Gramin)<br>1800-11-3377 (Urban,NHB)<br>1800-11-3388 (Urban,NHB)<br> 1800-11-6163 (Urban, HUDCO)</p>
	  </div>
	</div>
	</div>
	<div class="col-sm-4 col-md-4">
	<div class="card" style="max-width: 60%; max-height: 80%;" >
	  <img align=center class="card-img-top" style="max-width: 40%; max-height: 40%;" src="assets/email.png" alt="Card image cap">
	  <div class="card-body">
	    <p class="card-text" translate="">support-pmayg@gov.in.<br>helpdesk-pfms@gov.in</p>
	  </div>
	</div>
	</div>
</div>
</div>

